#divGeneral{
    margin: 0 auto;
    width: 1000px;
}

.no-border {
    border-style: hidden !important;
} 

#logo{
    position:relative;
    float:left;
}
#logotipo{
    position:relative;
    float:left;
}
#menuHome{    
    float:right;
    position:absolute;
    bottom:0;
    right:0;
    clear:right;
}

#top {
    position: relative;
    background-color: lightyellow;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #045491;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    font-weight: bold;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
    color: white;
    font-weight : bold;
    text-decoration: none;
}