#java specific
*.class

#netbeans ignore personal stuff
nbproject/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Package Files #
#*.jar
*.war
*.ear
/edu.uniajc.interfaces/build/
/edu.uniajc.persistence/build/
/edu.uniajc.interfaces/dist/
/edu.uniajc.logic/build/
/edu.uniajc.persistence/dist/
/edu.uniajc.logic/dist/
/edu.uniajc.logic/nbproject/
/edu.uniajc.view/dist/